<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour ta commande n° <%= @order.id %>!</h1>
  
    <p>
      Merci beaucoup pour ta commande :D et à très vite !
    </p>
   
  </body>
</html>